body {
    background-color: orange;
    }
td {
    border: 2px solid #00DEFF;
    background-color: white;
    border-radius: 5px;
    }
table {
    border: 2px solid #00DEFF;
    background-color: #00DEFF;
    border-radius: 5px;
    }
h1 {
    text-aligh: center;
    }
