body {
    background-color: orange;
  }
td {
    border: 2px solid #00DEFF;
    background-color: white;
    align: center;
  }
table {
    border: 2px solid #00DEFF;
    background-color: #00DEFF;
  }
