body {
    background-color: orange;
    font-color: white;
  }
td {
    border: 2px solid white;
    background-color: #00DEFF;
  }
table {
    border: 2px solid white;
    background-color: orange;
  }
